body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}

.user-card {
    width: 250px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    text-align: center;
    box-shadow: 20px 20px 60px
    #0fbac741,inset -20px -20px 60px #4b8ed5;
}

.user-card img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 12px;
}

.user-card h3 {
    margin: 8px 0;
}

.user-card p {
    color: #555;
}

.user-card button {
    padding: px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.user-card button:hover {
    background-color: #0056b3;
}
